@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:200,300,400,500,600,700,800,900|Roboto:300,400,500,700,900&subset=cyrillic');

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #999999;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

a {
	display: inline-block;
	color: #95e1d4;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1,h2,h3,h4,h5,h6 {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	line-height: 1.2;
	color: rgb(51, 51, 51);
}

p:last-child {
	margin-bottom: 0;
}

.visually-hidden {
	position: absolute;
	width: 0;
	height: 0;
	opacity: 0;
	visibility: hidden;
}

.list-reset {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	list-style-type: none;
}


.block {
	padding-top: 90px;
	padding-bottom: 110px;
}

.block__inner {
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
}

.block__heading {}

.block__descr {}


.button {
	text-decoration: none;
	color: inherit;
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: 0.06em;
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	font-weight: 700;
	padding: 10px 30px;
	border: 3px solid;
}

.button:hover {
	text-decoration: none;
	opacity: 0.7;
}



.header {
	padding-top: 27px;
	padding-bottom: 27px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	color: #fff;
}

.header__inner {
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__nav {}

.header__logo {
	color: inherit;
}

.header__logo:hover {
	text-decoration: none;
}

.header__menu {
	display: flex;
	align-items: center;
}

.header__menuItem {
	margin-right: 55px;
}

.header__menuItem:last-child {
	margin-right: 0;
}

.header__link {
	color: inherit;
	text-transform: uppercase;
	letter-spacing: 0.06em;
}

.header__actions {}

.header__action {}



.slider {
	padding-top: 225px;
	padding-bottom: 25px;
	text-align: center;
	color: #fff;
	background-color: #e98583;
}

.slider__inner {}

.slider__slides {}

.slider__slide {
	display: none;
}

.slider__slide--active {
	display: block;
}

.slider__descr {
	font-family: 'Kaushan Script';
	font-size: 72px;
	line-height: 1;
	margin-top: 0;
	margin-bottom: 10px;
}

.slider__title {
	font-size: 150px;
	line-height: 1;
	margin: 0 auto 50px;
	color: inherit;
	text-transform: uppercase;
	max-width: 6em;
}

.slider__title::after {
	content: '';
	display: block;
	margin-top: 72px;
	margin-right: auto;
	margin-left: auto;
	width: 60px;
	height: 3px;
	background-color: #fff;
}

.slider__button {
	margin-bottom: 155px;
}

.slider__dots {}

.slider__dot {}

.slider__dotButton {}







.footer {

}

.footer__inner {
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
}